<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pagar con PayPal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Pago con PayPal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ingrese sus datos para continuar con PayPal.</p>
      <ion-button expand="block" color="primary" (click)="realizarPago()">Ir a PayPal</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
