<ion-header [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-grid>
      <ion-row>
        <ion-col size="1" size-md="1">
          <ion-icon name="person-circle-outline" size="large" color="light" routerLink="/app-perfil"></ion-icon>
        </ion-col>
        <ion-col class="title-center">
          <ion-title color="light">Productos</ion-title>
        </ion-col>
        <ion-col size="1" size-md="1">
          <ion-buttons color="light">
            <ion-button id="popover-button4">
              <ion-icon name="ellipsis-vertical" color="light"></ion-icon>
            </ion-button>
            <ion-popover trigger="popover-button4" [dismissOnSelect]="true">
              <ng-template>
                <ion-content color="light">
                  <ion-list color="light">
                    <ion-item color="light" [button]="true" [detail]="false" routerLink="/nosotros">Nosotros</ion-item>
                    <ion-item color="light" [button]="true" [detail]="false">Configuración</ion-item>
                    <ion-item color="light" [button]="true" [detail]="false" routerLink="/acercade">Acerca de</ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-buttons>        
        </ion-col>
      </ion-row>
    </ion-grid>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-searchbar placeholder="Buscar producto" value=""></ion-searchbar>

  <ion-segment value="todos" mode="ios" color="primary">
    <ion-segment-button value="todos" content-id="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="herramientas" content-id="herramientas">
      <ion-label>Herramientas rehabilitación</ion-label>
    </ion-segment-button>
    <ion-segment-button value="personal" content-id="personal">
      <ion-label>Cuidado personal</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view>
    <ion-segment-content id="todos">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card routerLink="/app-bandas">
              <img alt="Silhouette of mountains" src="assets/images/bandas.jpg" />
              <ion-card-header>
                <ion-card-title>Bandas de resistencia</ion-card-title>
              </ion-card-header>
              <ion-card-content>Bandas para ejercicios de fortalecimiento.</ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card routerLink="/app-crema">
              <img alt="Silhouette of mountains" src="assets/images/crema.png" />
              <ion-card-header>
                <ion-card-title>Crema</ion-card-title>
              </ion-card-header>
              <ion-card-content>Crema para la preparación muscular.</ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card routerLink="/app-rodillo">
              <img alt="Rodillo" src="assets/images/rodillo.jpg" />
              <ion-card-header>
                <ion-card-title>Rodillo de espuma</ion-card-title>
              </ion-card-header>
              <ion-card-content>Rodillo para auto-masaje y liberación miofascial.</ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card routerLink="/app-pelota">
              <img alt="Pelota de ejercicio" src="assets/images/pelot.png" />
              <ion-card-header>
                <ion-card-title>Pelota de ejercicio</ion-card-title>
              </ion-card-header>
              <ion-card-content>Pelota utilizada en terapia y ejercicios de estabilidad.</ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card routerLink="/app-aceite">
              <img alt="Aceite" src="assets/images/aceite.jpg" />
              <ion-card-header>
                <ion-card-title>Aceite</ion-card-title>
              </ion-card-header>
              <ion-card-content>Aceite utilizado en masajes.</ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-segment-content>

    <ion-segment-content id="herramientas">
      <ion-card routerLink="/app-pelota">
        <img alt="Pelota de ejercicio" src="assets/images/pelot.png" />
        <ion-card-header>
          <ion-card-title>Pelota de ejercicio</ion-card-title>
        </ion-card-header>
        <ion-card-content>Pelota utilizada en terapia y ejercicios de estabilidad.</ion-card-content>
      </ion-card>

      <ion-card routerLink="/app-rodillo">
        <img alt="Rodillo" src="assets/images/rodillo.jpg" />
        <ion-card-header>
          <ion-card-title>Rodillo de espuma</ion-card-title>
        </ion-card-header>
        <ion-card-content>Rodillo para auto-masaje y liberación miofascial.</ion-card-content>
      </ion-card>

      <ion-card routerLink="/app-bandas">
        <img alt="Silhouette of mountains" src="assets/images/bandas.jpg" />
        <ion-card-header>
          <ion-card-title>Bandas de resistencia</ion-card-title>
        </ion-card-header>
        <ion-card-content>Bandas de ejercicios de fortalecimiento.</ion-card-content>
      </ion-card>
    </ion-segment-content>

    <ion-segment-content id="personal">

      <ion-card routerLink="/app-aceite">
        <img alt="Aceite" src="assets/images/aceite.jpg" />
        <ion-card-header>
          <ion-card-title>Aceite</ion-card-title>
        </ion-card-header>
        <ion-card-content>Aceite utilizado en masajes.</ion-card-content>
      </ion-card>

      <ion-card routerLink="/app-crema">
        <img alt="Silhouette of mountains" src="assets/images/crema.png" />
        <ion-card-header>
          <ion-card-title>Crema de ejercicio</ion-card-title>
        </ion-card-header>
        <ion-card-content>Crema para la preparación muscular.</ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>Here's a small text description for the card content. Nothing more, nothing less.</ion-card-content>
      </ion-card>

    </ion-segment-content>

  </ion-segment-view>
</ion-content>
