.ion-avatar-img {
    width: 150px;  
    height: 150px; 
  }

  .ion-card {
    width: 100%;
    max-width: 500px;
  }

  .profile-container {
    display: flex;
    flex-direction: column;  
    align-items: center;    
    justify-content: flex-start;  
    height: 100%;            
    padding: 20px;      
  }