<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="inicio" href="/src/app/page/inicio/inicio.page.html">
      <ion-icon aria-hidden="true" name="Home" color="light"></ion-icon>
      <ion-label color="light">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="servicios" href="/src/app/page/servicios/servicios.page.html">
      <ion-icon aria-hidden="true" name="bag-add" color="light"></ion-icon>
      <ion-label color="light">Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="citas" href="/src/app/page/citas/citas.page.html">
      <ion-icon aria-hidden="true" name="add-circle" color="light"></ion-icon>
      <ion-label color="light">Citas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos" href="/src/app/page/productos/productos.page.html">
      <ion-icon aria-hidden="true" name="bag-handle" color="light"></ion-icon>
      <ion-label color="light"> Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito" href="/src/app/page/carrito/carrito.page.html">
      <ion-icon aria-hidden="true" name="cart" color="light"></ion-icon>
      <ion-label color="light">Carrito</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
