<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
  <ion-buttons slot="start" routerLink="/inicio">
      <ion-back-button default-href="#" color="light"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="secondary" >
  </ion-buttons>
  <ion-title color="light">Acerca de</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-card color="light">
    <ion-icon name="alert-circle-outline" size="large"></ion-icon>
    <ion-card-header>
      <ion-card-title>Acerca de</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Esta aplicación está diseñada para optimizar la experiencia de los pacientes y mejorar la gestión de los servicios de fisioterapia. Permite agendar citas fácilmente, recibir recordatorios automáticos, y acceder al historial médico digital para tratamientos más personalizados. Además, facilita la comunicación directa con el personal de la clínica, ofrece información educativa y consejos de cuidado personal, y permite seguir el progreso del tratamiento. Con una plataforma moderna y fácil de usar, gestiona eficientemente los recursos de la clínica y permite actualizaciones continuas según las necesidades de los usuarios. El objetivo es ofrecer una experiencia superior, mejorar la eficiencia y brindar un servicio de fisioterapia de calidad.    </ion-card-content>
  </ion-card>
</ion-content>
