<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pelota de ejercicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card routerLink="/app-bandas">
    <img alt="Silhouette of mountains" src="assets/images/crema.png" />
    <ion-card-header>
      <ion-card-title>Crema</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Pelota utilizada en terapia y ejercicios de estabilidad.
    </ion-card-content>
    <h3>$ 50.00</h3>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>  
      <ion-button type="button" expand="block" shape="round">Agregar al carrito</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>


